* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-size: cover;
}

p {
  font-size: 28px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

div {
    padding: 1em;
}

#city-container, li, label {
    font-size: 22px;
}

.city-text {
    font-weight: bold;
    font-size: 32px;
}

#webpage-name {
    font-size: 90px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
  padding: 125px 0px;
}

.grd {
    display: grid;
}

.index {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "g1 g2";       
}

.cities {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "g1 g2"
    "g3 g4";
}

.food {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "g1 g2";       
}

.submission {
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
    "g1 g2";
}

#g1 {
    grid-area: g1;
}

#title-text {
    grid-area: g1;
    justify-content: space-between;
}

#g2 {
    grid-area: g2;
}

.i1 {
    grid-area: g1;
}

.i2 {
    grid-area: g2;
}

.i3 {
    grid-area: g3;
}

.i4 {
    grid-area: g4;
}

#content img {
    border-radius: 25px;
}

#veggies {
    height: 100%;
    width: 100%;
}

.column {
  float: left;
  width: 50%;
  margin: auto;
  padding: 5px;
  
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
  color: white;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 37.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#navbar {
  padding: 0;
  overflow: hidden;
  background-color: rgb(71, 182, 126);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 32px;
  text-decoration: none;
  font-size: 17px;
  transition-duration: 0.2s;
  font-size: 25px;
}

#navbar a:hover {
  background: rgb(133, 207, 170);
  color: white;
}

.button {
  background-color: rgb(71, 182, 126);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 16px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(133, 207, 170);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 16px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
}