p {
    white-space: pre-wrap;
}

span.element{
    color: purple;
}

span.class{
    color: blue;
}

span.id{
    color: cyan;
}

span.property{
    color: red;
}

span.value{
    color: orange;
}

p {
    white-space: pre-wrap;
}

span.element{
    color: purple;
}

span.class{
    color: blue;
}

span.id{
    color: cyan;
}

span.property{
    color: red;
}

span.value{
    color: orange;
}

p {
    white-space: pre-wrap;
}

span.element{
    color: purple;
}

span.class{
    color: blue;
}

span.id{
    color: cyan;
}

span.property{
    color: red;
}

span.value{
    color: orange;
}

p {
    white-space: pre-wrap;
}

span.element{
    color: purple;
}

span.class{
    color: blue;
}

span.id{
    color: cyan;
}

span.property{
    color: red;
}

span.value{
    color: orange;
}

p {
    white-space: pre-wrap;
}

span.element{
    color: purple;
}

span.class{
    color: blue;
}

span.id{
    color: cyan;
}

span.property{
    color: red;
}

span.value{
    color: orange;
}

p {
    white-space: pre-wrap;
}

span.element{
    color: purple;
}

span.class{
    color: blue;
}

span.id{
    color: cyan;
}

span.property{
    color: red;
}

span.value{
    color: orange;
}

p {
    white-space: pre-wrap;
}

span.element{
    color: purple;
}

span.class{
    color: blue;
}

span.id{
    color: cyan;
}

span.property{
    color: red;
}

span.value{
    color: orange;
}

p {
    white-space: pre-wrap;
}

span.element{
    color: purple;
}

span.class{
    color: blue;
}

span.id{
    color: cyan;
}

span.property{
    color: red;
}

span.value{
    color: orange;
}

p {
    white-space: pre-wrap;
}

span.element{
    color: purple;
}

span.class{
    color: blue;
}

span.id{
    color: cyan;
}

span.property{
    color: red;
}

span.value{
    color: orange;
}

p {
    white-space: pre-wrap;
}

span.element{
    color: purple;
}

span.class{
    color: blue;
}

span.id{
    color: cyan;
}

span.property{
    color: red;
}

span.value{
    color: orange;
}

p {
    white-space: pre-wrap;
}

span.element{
    color: purple;
}

span.class{
    color: blue;
}

span.id{
    color: cyan;
}

span.property{
    color: red;
}

span.value{
    color: orange;
}

p {
    white-space: pre-wrap;
}

span.element{
    color: purple;
}

span.class{
    color: blue;
}

span.id{
    color: cyan;
}

span.property{
    color: red;
}

span.value{
    color: orange;
}

p {
    white-space: pre-wrap;
}

span.element{
    color: purple;
}

span.class{
    color: blue;
}

span.id{
    color: cyan;
}

span.property{
    color: red;
}

span.value{
    color: orange;
}

p {
    white-space: pre-wrap;
}

span.element{
    color: purple;
}

span.class{
    color: blue;
}

span.id{
    color: cyan;
}

span.property{
    color: red;
}

span.value{
    color: orange;
}

p {
    white-space: pre-wrap;
}

span.element{
    color: purple;
}

span.class{
    color: blue;
}

span.id{
    color: cyan;
}

span.property{
    color: red;
}

span.value{
    color: orange;
}